*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}
:root {
    --primary-color:#684BB1;
    --light-color:#ffffff;
    --dark-color:#E880E8;
}

body {
    background-image: url("../images/bg-desktop.svg");
    background-color: var(--primary-color);
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    padding: 50px 50px 50px 50px;
}
img {
    max-width: 100%;
}

.hero .hero-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 50px;
}

.hero .hero-content {
    width: 90%;
    /* margin-top: 50px; */
}

.hero .hero-text{
    width: 90%;
    margin-top: 20px;
    color: var(--light-color);
    font-weight: 200;
    font-size: 18px;

}

.btn {
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: var(--primary-color);
    font-weight: 300;
    text-decoration: none;
    border-radius: 28px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    margin-top: 30px;
    width: 28%;
}

.btn:hover {
    background: var(--dark-color);
    color: var(--light-color);
}

.btn-primary {
    color: var(--primary-color);
    background:var(--light-color);
}

.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
    color: var(--light-color);
}

.footer {
   float: right;
   
}

.footer .social img{
    margin-left: 5px;
}



@media (max-width:960px){
    .text-xxl { 
        font-size: 2.5rem;
    }
}

@media (max-width : 670px){
    body{
        background: url('../images/bg-mobile.svg') no-repeat;
        background-color: var(--primary-color);
        overflow-y: scroll;
        
    }

    .navbar .logo img {
        inline-size: 20vh;
    }

    .hero .hero-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        
    }

    .hero .hero-image {
        width: 100%;
        align-items: center;
    }
    
    .hero .hero-content, .hero .hero-text {
        width: 100%;
        text-align: center;
    }

    .hero .hero-buttons .btn {
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }

    .footer {
        text-align: center;
        
     }


}

@media (max-width:500px){
    .text-xxl {
        font-size: 2rem;
    }
}