*{
    margin: 0;
    padding: 0;
    font-family: "";

}
.main{
    width: 100%;
    background-color: rgb(103,75,178);
    background-image: url(bg-desktop.svg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width:1400px;
    height: 80px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    padding-left: 20px;
    padding-top: 50px;
    float: left;
}
.image{
    width: 1400px;
    height: auto;
    margin: auto;
    position: relative;
    padding-top: 12%;
}
.content{
    width: 500px;
    height: 120px;
    margin: auto;
    color: #fff;
    position: relative;
    top: -500px;
    left: 300px;
    padding: 25px;
}   
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: "Open Sans", sans-serif;
    /* letter-spacing: 1.2px; */
    /* line-height: ; */
    font-size: 18px;
    font-weight: normal;
    padding-top: 30px;
}
.content h1{
    font-family: "Poppins";
    font-size: 40px;
    padding-left: 20px;
    margin-top: 12%;
    letter-spacing: 1px;
    font-weight: 400;
}
.content .btn{
    width: 160px;
    height: 40px;
    background: #fff;
    border: none;
    font-family: "Poppins";
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 28px;
    cursor: pointer;
}
.content .btn a{
    text-decoration: none;
    color: #684BB1;

}
.icons a{
    text-decoration: none;
    color: #000;
   
    
   
}
.icons{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.icons icon-icon{
    color:#000;
}

